{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
    "no-useless-return": "off",
    "linebreak-style": "off",
    "consistent-return": "off"
  }
}